body{
	font-size: 15px;
	line-height: 1.35;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.site-banner{
	background-color: #D9534F;
}

.question-section{
	padding-bottom: 20px;
	border-bottom: solid 1px #BDBDBD;
}

.user-info{
	border-bottom: solid 1px #BDBDBD;
}

.answer{
	padding-top: 20px;	
	padding-bottom: 6px;
}

