{% extends "questions/question_base.html" %}

{% block page_scripts %}  
	<script type="text/javascript" src="{{ STATIC_URL }}js/questions/voting.js"></script>
{% endblock page_scripts %}

{% block question_answers %}
	<div class="question-section">
		<h2>{{question.title}}</h2>
		<small>{{question.created}}</small>
	</div>

	<div class="answer-section">
		{% if can_answer %}
			<form method="POST" action=".">
			{% csrf_token %}
				<div class="answer" class="form-control">
				{{form.answer}}
				</div>
				<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-upload"></span> Submit 
				</button>
			</form>
		{% endif %}
		<div>
			{% for ans in answers %}
				<div class="answer">
					<small class="text-muted">{{ans.answered_by.name}} added on {{ans.modified}}</small>
					<p>{{ans.answer}}</p>	
					{% if user.is_authenticated %}
						{% ifnotequal ans.answered_by user %}
							<p name="csrfmiddlewaretoken" value="{% csrf_token %}">
								<span class="glyphicon glyphicon-thumbs-up"></span>
								<button type="button" class="btn btn-default btn-xs" id="upvote" data-update-url="{% url 'vote_answer' ans.pk %}">{% if ans.pk in votes_from_user %}Dislike{% else %}Like{% endif %}</button> <span class="answer-vote-count"> {{ans.votes.count}} vote{{ans.votes.count|pluralize}}</span>
							</p>
						{% endifnotequal %}
					{% else %}
						<small class="text-muted">{{ans.votes.count}} vote{{ans.votes.count|pluralize}}</small>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock question_answers %}