{% extends "questions/question_base.html" %}

{% block question_answers %}
	<div class="question-section">
		<h2>{{question.title}}</h2>
		<small>{{question.created}}</small>
	</div>

	<div class="answer-section">
		{% if can_answer %}
			<form method="POST" action=".">
			{% csrf_token %}
				<div class="answer" class="form-control">
				{{form.answer}}
				</div>
				<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-upload"></span> Submit 
				</button>
			</form>
		{% endif %}
		<div>
			{% for ans in answers %}
			<div class="answer">
				<small class="text-muted">{{ans.answered_by.name}} added on {{ans.modified}}</small>
				<p>{{ans.answer}}</p>				
				{% ifnotequal ans.answered_by user %}
				<p>
					<span class="glyphicon glyphicon-thumbs-up"></span>
					<button type="button" class="btn btn-default btn-xs"> {% if ans.pk in votes_from_user %} Nah {% else %} Cool {% endif %} </button> {{ans.votes.count}}
				</p>
				{% endifnotequal %}
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock question_answers %}