{% extends 'profiles/profile_base.html' %}

{% block page_scripts %}  
	<script type="text/javascript" src="{{ STATIC_URL }}js/questions/voting.js"></script>
{% endblock page_scripts %}

{% block answers_upvotes %}

	<div class="User-info">
		{% if user %}
		    <h1>Welcome, {{profile_user.user.name}}</h1>
<!-- 		    {% for account in user.socialaccount_set.all %} -->
		        <!-- <h2 style="text-transform:capitalize;">{{ account.provider }} account data</h2> -->
		        <!-- <p>UID: <a href="{{account.extra_data.link }}">{{ account.uid }}</a></p> -->
		        <p><img width="50" height="50" src="{{ profile_user.avatar_url }}" /></p>
		        
		        <p>Email: {{ profile_user.user.email }}</p>
		        <p>First Name: {{ profile_user.user.first_name }}</p>
		        <p>Last Name: {{ profile_user.user.last_name }}</p>
		        <p>Connect socially: <a href="{{ profile_user.social_profile }}">{{ profile_user.social_profile }}</a></p>
		    {% endfor %}
		{% endif %}
	</div>

	<h4 class="question-section"> Questions answered </h4>

	{% for answer in answers %}
	<div class="answer">
		{% if answer.answered_by == user or not answer.anonymous %}
			<div> <a href="{{ answer.question.get_absolute_url }}"> <strong> {{ answer.question }} </strong> </a> </div>
			<div> 
				<small class="text-muted">
					{% if answer.anonymous %}
						Anonymously answered 
					{% else %}
						Answered 
					{% endif %}
					on {{answer.modified}}
				</small> 
				<p>{{ answer.answer }}</p>
				{% if user.is_authenticated and answer.answered_by != user %}
						<p name="csrfmiddlewaretoken" value="{% csrf_token %}">
							<span class="glyphicon glyphicon-thumbs-up"></span>
							<button type="button" class="btn btn-default btn-xs upvote" id="upvote-{{answer.pk}}" data-update-url="{% url 'vote_answer' answer.pk %}">
								{% if answer.pk in votes_from_user %}Dislike{% else %}Like{% endif %}
							</button> 
							<span id="answer-vote-count-{{answer.pk}}"> {{answer.votes.count}} vote{{answer.votes.count|pluralize}}</span>
						</p>
				{% else %}
					<small class="text-muted">{{answer.votes.count}} vote{{answer.votes.count|pluralize}}</small>
				{% endif %}
			</div>
		{% endif %}
	</div>
	{% endfor %}
{% endblock answers_upvotes %}