{% load staticfiles %}

<html>
	<head>
		<title> 
			{% block title %} Empower Yourself {% endblock title %} 
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
		{% endblock stylesheets %}

	    <script type="text/javascript" src="//use.typekit.net/gpi6htx.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.2.min.js"></script> 

		{% block page_scripts %} {% endblock page_scripts %}

	</head>
	<body>
		<div class="container-fluid">
			<div class="row site-banner">
				<div class="col-md-1"></div>
				<div class="col-md-2" id="logo">				
					<img src="/static/images/logo.png" height="100px"/>
				</div>
				<div class="col-md-6"></div>
				<div class="col-md-3">					
					<h4> <a href=""> <span class="glyphicon glyphicon-user"></span> You</a> </h4>
				</div>
			</div>

			<div class="row" id="content">
				{% block content %}
				{% endblock content %}
			</div>
		</div>
	</body>
</html>